includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Trait AdamczykPiotr\\DagWorkflows\\Traits\\HasWorkflowTracking is used zero times and is not analysed\.#'
